:root {
	--cl-white: #FFFFFF;
	--cl-grey-light: #f5f5f6;
	--cl-grey-dark: #424242;
	--cl-black: rgb(44 38 39);
	--cl-black-05: rgb(44 38 39 / 50%);
	--cl-black-075: rgb(44 38 39 / 75%);
	--cl-green: #6EB5A5;
	--cl-blue-deep: #182F53;
	--cl-blue-deep-05:rgb(24 47 83 / 50%);
	--cl-orange-blood: #F85528;
	--cl-red-dark: #5B0004;
	--cl-red-pink: #A13842;
	--cl-beige: #ffffeb;
	--cl-beige-05: rgb(255 255 235 / 50%);

	--cl-text: var(--cl-black);
	--cl-text-alt: var(--cl-orange-blood);
	--cl-text-contrast: var(--cl-white);
	--cl-text-contrast-alt: var(--cl-beige);

	--cl-bg: var(--cl-grey-light);
	--cl-bg-alt: var(--cl-white);
	--cl-bg-contrast: var(--cl-grey-dark);

	--container-width-lg: 1420px;
	--container-width-md: 800px;
	--container-width-sm: 500px;

	--media-breakpoint-desktop: 1200px;
	--media-breakpoint-tablet: 760px;
	--media-breakpoint-mobile: 500px;

	--anim-time-lg: .5s;
	--anim-time-md: .3s;
	--anim-time-sm: .1s;
	--anim-tf: ease-in-out;

	--aside-width: 300px;
	--aside-width-padding: 340px;
	--aside-offset: 52px;
}
