.aside {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
	justify-items: start;
	padding: 40px 50px;
	width: 80%;
	background-color: var(--cl-bg-alt);
	box-shadow: 0 0 8px -4px var(--cl-black);
	color: var(--cl-text-contrast);
	transform: translateX( calc(-100% + var(--aside-offset)) );
	transition: background-color .5s ease-in-out,
				transform .7s ease-in-out;
	z-index: 100;
}

@media (max-width: 600px) {
	.aside {
		padding: 32px;
		width: 100%;
		transform: translateX(-100%);
		box-shadow: none;
	}
}

.aside._active {
	transform: translateX(0);
	background-color: var(--cl-grey-dark);
}

.aside:not(._active) .site-logo,
.aside:not(._active) .site-menu,
.aside:not(._active) .aside__bottom {
	pointer-events: none;
}

.aside:hover {
	opacity: 1;
}

.aside .site-logo {
	max-width: 200px;
	width: 100%;
}

.aside .site-logo svg {
	fill: var(--cl-text-contrast);
}

.aside .site-label svg {
	fill: var(--cl-text);
}

.aside._active .site-label svg {
	fill: var(--cl-text-contrast);
}

.aside .site-label {
	position: absolute;
	right: 11px;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	width: 31px;
	height: 14px;
}

@media(max-width:600px) {
	.aside .site-label {
		display: none;
	}
}

.aside .site-menu {
	align-self: center;
}

.open-menu,
.close-menu {
	position: absolute;
	top: 8px;
	right: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	padding: 4px;
	transition: opacity .2s linear;
	opacity: 1;
	cursor: pointer;
}

@media(max-width: 600px) {
	.open-menu {
		transform: translateX(54px);
		padding: 8px;
		border-radius: 50%;
		background-color: var(--cl-bg);
		box-shadow: 0 0 8px -4px var(--cl-black);
	}
}

.open-menu._hidden,
.close-menu._hidden {
	opacity: 0;
	pointer-events: none;
}

.open-menu svg {
	fill: var(--cl-text);
}
.close-menu svg {
	fill: var(--cl-text-contrast);
}

.aside-close {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	display: none;
}

.aside-close._active {
	display: block;
}

.aside__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
	width: 100%;
	border-top: 1px solid var(--cl-beige-05);
}

.aside__botton-contacts {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 40px;
}

.aside__botton-contacts a {
	text-decoration: none;
}
