.aside {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
	justify-items: start;
	padding: 40px 50px;
	width: 80%;
	background: var(--cl-bg);
	box-shadow: 0 0 8px -4px var(--cl-black);
	color: var(--cl-text-contrast);
	transform: translateX( calc(-100% + var(--aside-offset)) );
	transition: all .3s ease-in-out;
	z-index: 100;
}

.aside:not(._active):hover {
	/* transform: translateX( calc(-100% + 60px) ); */
}

.aside._active {
	transform: translateX(0);
	background: var(--cl-orange-blood);
}

.aside:not(._active) .site-logo,
.aside:not(._active) .site-menu,
.aside:not(._active) .aside__bottom {
	pointer-events: none;
}

.aside:hover {
	opacity: 1;
}

.aside .site-logo {
	max-width: 200px;
	width: 100%;
}

.aside .site-logo svg {
	fill: var(--cl-text-contrast);
}

.aside .site-label svg {
	fill: var(--cl-text);
}

.aside .site-label {
	position: absolute;
	right: 11px;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	width: 31px;
	height: 14px;
}

.aside .site-menu {
	align-self: center;
}

.open-menu,
.close-menu {
	position: absolute;
	top: 8px;
	right: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	padding: 4px;
	transition: opacity .2s linear;
	opacity: 1;
	cursor: pointer;
}

.open-menu._hidden,
.close-menu._hidden {
	opacity: 0;
	pointer-events: none;
}

.open-menu svg {
	fill: var(--cl-text);
}
.close-menu svg {
	fill: var(--cl-text-contrast);
}

.aside-close {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	display: none;
}

.aside-close._active {
	display: block;
}

.aside__bottom {
	display: flex;
	padding-top: 40px;
	width: 100%;
	border-top: 1px solid var(--cl-beige-05);
}
