.feedback-form {
	grid-column: 3/4;
}

.form {
	display: grid;
	justify-items: start;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 40px;
	max-width: 720px;
}

@media(max-width: 600px) {
	.form {
		grid-template-columns: auto;
	}
}

.form__primary,
.form__secondary,
.form__item {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.form__item {
	position: relative;
}

.form__item + .form__item {
	margin-top: 36px;
}

.form__item._grow {
	flex-grow: 1;
}

label + input,
label + textarea {
	margin-top: 4px;
}

label {
	position: absolute;
	top: 0;
	left: 0;
	transform: scale(1.1) translate(8px, 8px);
	transition: transform .2s ease;
	line-height: 1.2;
	font-weight: 400;
	font-size: 14px;
	pointer-events: none;
}

textarea {
	flex-grow: 1;
	resize: vertical;
	max-height: 400px;
	min-height: 80px;
}

input,
textarea {
	padding: 8px 12px;
	width: 100%;
	font-variant: lining-nums;
	border: 0;
	border-bottom: 1px solid var(--cl-bg-alt);
	border-radius: 0;
	background: transparent;
	outline: none;
	transition: border .2s ease;
	color: var(--cl-text-contrast);
}

input:active,
input:focus,
textarea:active,
textarea:focus {
	border-color: var(--cl-orange-blood);
	outline: none;
}

input:hover + label,
input:active + label,
input:focus + label,
input._filled + label,
textarea:hover + label,
textarea:active + label,
textarea:focus + label,
textarea._filled + label {
	transform: scale(1) translate(0px, -20px);
}

button[type="submit"] {
	border-color: var(--cl-orange-blood);
	background-color: var(--cl-orange-blood);
}
