extends ../layouts/layout

block vars
	- var classPage = "index-page"
	- var titlePage = "Что-то пошло не так :c"

block content
	section.first-section._cover
		.container
			h1 Ошибка <mark>404</mark>
