extends ../layouts/layout

block vars
	- var classPage = "page-about"
	- var titlePage = "Александр Неровня"
	- var descPage = "Архитектор"

block content
	section.section.first-section
		.container
			h1 О нас
			p We are a team of architects who have come together to turn our dreams and vision of beauty into real projects. Guided by our design philosophy, over the past 2 years Alex Nerovnya Architecture have developed more than 20 innovative projects of private villas, hotels, restaurants and resorts.

			p We managed to work both in our native markets of Russia and the CIS countries, as well as in Europe, North America and in a number of countries in the Middle East. Working on projects around the world, we have learned to embody our vision in a variety of shapes, materials, sizes and climatic zones.

			h3 Meet the founders:
			.about
				.about__item
					.about__item-img img
					span.about__item-name Саня
					span.about__item-desc .
				.about__item
					.about__item-img img
					span.about__item-name Сабина
					span.about__item-desc .
				.about__item
					.about__item-img Алё, нет, это
					span.about__item-name Андрюха
					span.about__item-desc .
