extends ../layouts/layout

block vars
	- var classPage = "page-about"
	- var titlePage = "Александр Неровня"
	- var descPage = "Архитектор"

block content
	section.section.first-section
		.container
			h1 О нас
