extends ../layouts/layout

block vars
	- var classPage = "page-about"
	- var titlePage = "Александр Неровня"
	- var descPage = "Архитектор"

block content
	section.section.first-section
		.container
			h1.section__title О нас

	section.section._merge
		.article.container
			p We&nbsp;are a&nbsp;team of&nbsp;architects who have come together to&nbsp;turn our dreams and vision of&nbsp;beauty into real projects. Guided by&nbsp;our design philosophy, over the past 2&nbsp;years Alex Nerovnya Architecture have developed more than 20&nbsp;innovative projects of&nbsp;private villas, hotels, restaurants and resorts.

			p We&nbsp;managed to&nbsp;work both in&nbsp;our native markets of&nbsp;Russia and the CIS countries, as&nbsp;well as&nbsp;in&nbsp;Europe, North America and in&nbsp;a&nbsp;number of&nbsp;countries in&nbsp;the Middle East. Working on&nbsp;projects around the world, we&nbsp;have learned to&nbsp;embody our vision in&nbsp;a&nbsp;variety of&nbsp;shapes, materials, sizes and climatic zones.

	section.section._contrast
		.container
			h2 Meet the founders:
			ul.team__list
				li.team__item._alex
					.inner(href="/about.html")
						.team__item-info
							h3.team__item-name Александр
							p.team__item-desc Перебирает Volvo
						img.team__item-img(src="../../assets/img/team/alex.png")
				li.team__item._sabina
					.inner(href="/about.html")
						.team__item-info
							h3.team__item-name Сабина
							p.team__item-desc Ругает Саню
						img.team__item-img(src="../../assets/img/team/sabina.png")
				li.team__item._andrew
					.inner(href="/about.html")
						.team__item-info
							h3.team__item-name Андрей
							p.team__item-desc Коронит
						img.team__item-img(src="../../assets/img/team/andrew.png")
