extends ../layouts/layout

block vars
	- var classPage = "page-about"
	- var titlePage = "Александр Неровня"
	- var descPage = "Архитектор"

block content
	section.section.first-section
		.container
			h1 О нас
			p We are a team of architects who have come together to turn our dreams and vision of beauty into real projects. Guided by our design philosophy, over the past 2 years Alex Nerovnya Architecture have developed more than 20 innovative projects of private villas, hotels, restaurants and resorts.

			p We managed to work both in our native markets of Russia and the CIS countries, as well as in Europe, North America and in a number of countries in the Middle East. Working on projects around the world, we have learned to embody our vision in a variety of shapes, materials, sizes and climatic zones.

			h3 Meet the founders:
			ul.team__list
				li.team__item._alex
					a.inner(href="/team.html")
						.team__item-info
							h3.team__item-name Александр
							p.team__item-desc Перебирает Volvo
						img.team__item-img(src="../../assets/img/team/alex.png")
				li.team__item._sabina
					a.inner(href="/team.html")
						.team__item-info
							h3.team__item-name Сабина
							p.team__item-desc Ругает Саню
						img.team__item-img(src="../../assets/img/team/sabina.png")
				li.team__item._andrew
					a.inner(href="/team.html")
						.team__item-info
							h3.team__item-name Андрей
							p.team__item-desc Коронит
						img.team__item-img(src="../../assets/img/team/andrew.png")
