extends ../layouts/layout

block vars
	- var classPage = "page-blog"
	- var titlePage = "Александр Неровня"
	- var descPage = "Архитектор"

block content
	section.section.blog
		.grid-container
			h1.section__title.grid-item._desc Блог
			ul.grid-item._content.blog__list
				li.blog__item
					a(href="/") Про дома
				li.blog__item
					a(href="/") Не про дома
				li.blog__item
					a(href="/") Пустая статья
				li.blog__item
					a(href="/") Пустая статья
				li.blog__item
					a(href="/") Пустая статья
