extends ../layouts/layout

block vars
	- var classPage = "page-contacts"
	- var titlePage = "Александр Неровня"
	- var descPage = "Архитектор"

block content
	section.section.first-section
		.container
			h1 We are closer then you think
			p Please contact our team via email, whatsapp, telegram or&nbsp;on&nbsp;social media, and we&nbsp;will be&nbsp;glad to&nbsp;discuss your idea for an&nbsp;architectural project of&nbsp;any scale, purpose and geographical location.

			.contacts
				.contacts__phone
					include ../includes/elements/whatsapp
					include ../includes/elements/telegram
					a.phone(href="tel:+79150991886") +7 (915) 099-18-86
				div
					a.email(href="mailto:alex_nerovnya@mail.ru") alex_nerovnya@mail.ru

				.contacts__socials
					h3.contacts__socials-desc Visit our socials:
					.contacts__socials-links
						include ../includes/elements/instagram
						include ../includes/elements/behance

	section.section.feedback._contrast
		.grid-container
			.grid-item._desc
				h2.section__title Let's talks about your ideas!
			.grid-item._content.feedback-form
				include ../includes/components/form
