extends ../layouts/layout

block vars
	- var classPage = "page-index"
	- var titlePage = "Александр Неровня"
	- var descPage = "Архитектор"

block content
	section.section.first-section._cover._center
		//- h1.section__title Делаем крутые штуки

		.swiper-container.index-slider
			.swiper-wrapper
				.swiper-slide
					.swiper-lazy-preloader
					.container
						.index-slider__info
							span.index-slider__project-type Villa
							span.index-slider__project-name.section__title Solo
							span.index-slider__project-desc Can you live in glass house, moron?
							a.index-slider__project-link(href="/project.html")
								| Explore
								.icon
									include ../../img/icons/arrow-right.svg

					.index-slider__img
						img.swiper-lazy(data-src="../../assets/img/projects/sky-house/SKY-house-1-halved.jpg")
				.swiper-slide
					.swiper-lazy-preloader
					.container
						.index-slider__info
							span.index-slider__project-type Hotel
							span.index-slider__project-name.section__title Hilton
					.index-slider__img
						img.swiper-lazy(data-src="../../assets/img/projects/test-project/1.jpg")
				.swiper-slide
					.swiper-lazy-preloader
					.container
						.index-slider__info
							span.index-slider__project-type Apartment
							span.index-slider__project-name.section__title Vidovie
					.index-slider__img
						img.swiper-lazy(data-src="../../assets/img/projects/sky-house/SKY-house-1-halved.jpg")
				.swiper-slide
					.swiper-lazy-preloader
					.container
						.index-slider__info
							span.index-slider__project-type Retreat
							span.index-slider__project-name.section__title Tactical
					.index-slider__img
						img.swiper-lazy(data-src="../../assets/img/projects/test-project/1.jpg")
				.swiper-slide
					.swiper-lazy-preloader
					.container
						.index-slider__info
							span.index-slider__project-type Public space
							span.index-slider__project-name.section__title Your sister
					.index-slider__img
						img.swiper-lazy(data-src="../../assets/img/projects/sky-house/SKY-house-1-halved.jpg")
			.swiper-navigation
				.button-prev
					.icon
						include ../../img/icons/arrow-left.svg
				.button-next
					.icon
						include ../../img/icons/arrow-right.svg

		.index-all-projects
			a(href="/projects.html") Все проекты

	section.section.projects
		.grid-container
			h2.section__title Projects
		.index-project.grid-container
			.index-project__info
				.index-project__type Villa
				.index-project__name Abu Dhabi Villa Complex
				.index-project__tags
					a.index-project__tag(href="/projects.html") #2020
					a.index-project__tag(href="/projects.html") #villa
			.index-project__img
				img(src="../../assets/img/projects/sky-house/SKY-house-1-halved.jpg")

		.index-project.grid-container._reverse
			.index-project__info
				.index-project__type Villa
				.index-project__name Abu Dhabi Villa Complex
				.index-project__tags
					a.index-project__tag(href="/projects.html") #2020
					a.index-project__tag(href="/projects.html") #villa
			.index-project__img
				img(src="../../assets/img/projects/sky-house/SKY-house-1-halved.jpg")

	section.section.index-team
		.grid-container
			h2.section__title Команда
			ul.index-team__list
				li.index-team__item._alex
					a.inner(href="/team.html")
						.index-team__item-info
							h3.index-team__item-name Александр
							p.index-team__item-desc Перебирает Volvo
						img.index-team__item-img(src="../../assets/img/team/alex.png")
				li.index-team__item._sabina
					a.inner(href="/team.html")
						.index-team__item-info
							h3.index-team__item-name Сабина
							p.index-team__item-desc Ругает Саню
						img.index-team__item-img(src="../../assets/img/team/sabina.png")
				li.index-team__item._andrew
					a.inner(href="/team.html")
						.index-team__item-info
							h3.index-team__item-name Андрей
							p.index-team__item-desc Коронит
						img.index-team__item-img(src="../../assets/img/team/andrew.png")

	section.section.blog
		.container
			h2.section__title Блог
			ul
				li
					a(href="/") Про дома
				li
					a(href="/") Не про дома
				li
					a(href="/") Пустая статья

	section.section.feedback
		.container
			h2.section__title LET'S TALK ABOUT YOUR IDEAS!
			.contact__form
				include ../includes/components/form
