extends ../layouts/layout

block vars
	- var classPage = "index-page"
	- var titlePage = "Александр Неровня"
	- var descPage = "Архитектор"

block content
	section
		.container
			h1 Добро пожаловать
			p Мы&nbsp;&mdash; команда архитекторов и&nbsp;дизайнеров из&nbsp;Москвы.
			p Основополагающие принципы нашей работы&nbsp;&mdash; честный минимализм, союз с&nbsp;окружающей средой, энергоэффективность и&nbsp;универсальная доступность.

	section
		.container
			h2 Проекты
			.index-projects.swiper-container
				.swiper-wrapper
					.swiper-slide Slide 1

				.swiper-button-prev Prev
				.swiper-button-next Next


	section
		.container
			h2 Команда
			ul
				li Александр
				li Андрей
				li Сабина

	section
		.container
			h2 Блог
			ul
				li
					a(href="/") Про дома
				li
					a(href="/") Не про дома
				li
					a(href="/") Пустая статья
