extends ../layouts/layout

block vars
	- var classPage = "page-index"
	- var titlePage = "Александр Неровня"
	- var descPage = "Архитектор"

block content
	section.section.first-section._cover._center
		.container
			h1.section__title Делаем крутые штуки

			.swiper-container.index-slider
				.swiper-wrapper
					.swiper-slide.swiper-lazy(data-background="../../assets/img/projects/amber-house/AMBER-house-1.jpg")
						.swiper-lazy-preloader
					.swiper-slide.swiper-lazy(data-background="../../assets/img/projects/amber-house/AMBER-house-2.jpg")
						.swiper-lazy-preloader
					.swiper-slide.swiper-lazy(data-background="../../assets/img/projects/amber-house/AMBER-house-3.jpg")
						.swiper-lazy-preloader
					.swiper-slide.swiper-lazy(data-background="../../assets/img/projects/amber-house/AMBER-house-4.jpg")
						.swiper-lazy-preloader
					.swiper-slide.swiper-lazy(data-background="../../assets/img/projects/amber-house/AMBER-house-5.jpg")
						.swiper-lazy-preloader
				.swiper-navigation
					.swiper-button-prev
						.icon
							include ../../img/icons/arrow-left.svg
					.swiper-button-next
						.icon
							include ../../img/icons/arrow-right.svg
					//- .annotation
					//- 	a(href="/projects.html") Все проекты

	section.section.team._contrast
		.container
			h2 Команда
			ul
				li Александр
				li Андрей
				li Сабина

	section.section.blog
		.container
			h2 Блог
			ul
				li
					a(href="/") Про дома
				li
					a(href="/") Не про дома
				li
					a(href="/") Пустая статья

	section.section.feedback
		.container
			h2 LET'S TALK ABOUT YOUR IDEAS!
			.contact__form
				include ../includes/components/form
