extends ../layouts/layout

block vars
	- var classPage = "page-index"
	- var titlePage = "Александр Неровня"
	- var descPage = "Архитектор"

block content
	section.section.first-section._cover
		.container
			h1
				span Короткий крутой заголовок
			p Равным образом начало повседневной работы по формированию позиции требуют определения и уточнения новых предложений. Таким образом реализация намеченных плановых заданий позволяет оценить значение форм развития. Не следует, однако забывать, что сложившаяся структура организации в значительной степени обуславливает создание направлений прогрессивного развития.

	section.section.projects
		.container
			h2 Проекты
			.index-projects.swiper-container
				.swiper-wrapper
					.swiper-slide Slide 1

				.swiper-button-prev Prev
				.swiper-button-next Next

	section.section.team
		.container
			h2 Команда
			ul
				li Александр
				li Андрей
				li Сабина

	section.section.blog
		.container
			h2 Блог
			ul
				li
					a(href="/") Про дома
				li
					a(href="/") Не про дома
				li
					a(href="/") Пустая статья
