extends ../layouts/layout

block vars
	- var classPage = "page-index"
	- var titlePage = "Александр Неровня"
	- var descPage = "Архитектор"

block content
	section.section.first-section._cover._center
		//- h1.section__title Делаем крутые штуки

		.swiper-container.projects-slider
			.swiper-wrapper
				.swiper-slide
					.swiper-lazy-preloader
					.container
						.projects-slider__info
							span.projects-slider__project-type Villa
							span.projects-slider__project-name.section__title Solo
							span.projects-slider__project-desc Can you live in glass house, moron?
							a.projects-slider__project-link.button-link(href="/project.html")
								| Explore

					.projects-slider__img
						img.swiper-lazy(data-src="../../assets/img/projects/sky-house/SKY-house-1-halved.jpg")
				.swiper-slide
					.swiper-lazy-preloader
					.container
						.projects-slider__info
							span.projects-slider__project-type Hotel
							span.projects-slider__project-name.section__title Hilton
							a.projects-slider__project-link.button-link(href="/project.html")
								| Explore
					.projects-slider__img
						img.swiper-lazy(data-src="../../assets/img/projects/test-project/1.jpg")
				.swiper-slide
					.swiper-lazy-preloader
					.container
						.projects-slider__info
							span.projects-slider__project-type Apartment
							span.projects-slider__project-name.section__title Vidovie
							a.projects-slider__project-link.button-link(href="/project.html")
								| Explore
					.projects-slider__img
						img.swiper-lazy(data-src="../../assets/img/projects/sky-house/SKY-house-1-halved.jpg")
				.swiper-slide
					.swiper-lazy-preloader
					.container
						.projects-slider__info
							span.projects-slider__project-type Retreat
							span.projects-slider__project-name.section__title Tactical
							a.projects-slider__project-link.button-link(href="/project.html")
								| Explore
					.projects-slider__img
						img.swiper-lazy(data-src="../../assets/img/projects/test-project/1.jpg")
				.swiper-slide
					.swiper-lazy-preloader
					.container
						.projects-slider__info
							span.projects-slider__project-type Public space
							span.projects-slider__project-name.section__title Your sister
							a.projects-slider__project-link.button-link(href="/project.html")
								| Explore
					.projects-slider__img
						img.swiper-lazy(data-src="../../assets/img/projects/sky-house/SKY-house-1-halved.jpg")
			.swiper-navigation
				.button-prev
					.icon
						include ../../img/icons/arrow-left.svg
				.button-next
					.icon
						include ../../img/icons/arrow-right.svg

		.index-all-projects
			a(href="/projects.html") Все проекты

	section.section.projects
		.grid-container
			.grid-item._desc
				h2.section__title Projects
		.index-project.grid-container
			.index-project__info.grid-item._desc
				.index-project__type Villa
				.index-project__name Abu Dhabi Villa Complex
				.index-project__tags
					a.index-project__tag(href="/projects.html") #2020
					a.index-project__tag(href="/projects.html") #villa
			.index-project__img.grid-item._content
				img(src="../../assets/img/projects/sky-house/SKY-house-1-halved.jpg")

		.index-project.grid-container._reverse
			.index-project__info.grid-item._desc
				.index-project__type Villa
				.index-project__name Abu Dhabi Villa Complex
				.index-project__tags
					a.index-project__tag(href="/projects.html") #2020
					a.index-project__tag(href="/projects.html") #villa
			.index-project__img.grid-item._content
				img(src="../../assets/img/projects/sky-house/SKY-house-1-halved.jpg")

	section.section.index-about._contrast
		.grid-container._column
			.grid-item._desc._shifted
				h2.section__title Команда
				.index-about__info
					p We are a team of architects who have come together to turn our dreams and vision of beauty into real projects. Guided by our design philosophy, over the past 2 years Alex Nerovnya Architecture have developed more than 20 innovative projects of private villas, hotels, restaurants and resorts.
					a.button-link(href="/about.html")
						| Explore
			ul.team__list
				li.team__item._alex
					.inner(href="/about.html")
						.team__item-info
							h3.team__item-name Александр
							p.team__item-desc Перебирает Volvo
						img.team__item-img(src="../../assets/img/team/alex.png")
				li.team__item._sabina
					.inner(href="/about.html")
						.team__item-info
							h3.team__item-name Сабина
							p.team__item-desc Ругает Саню
						img.team__item-img(src="../../assets/img/team/sabina.png")
				li.team__item._andrew
					.inner(href="/about.html")
						.team__item-info
							h3.team__item-name Андрей
							p.team__item-desc Коронит
						img.team__item-img(src="../../assets/img/team/andrew.png")

	section.section.index-workflow
		.grid-container
			.grid-item._desc
				h2.section__title Workflow
		.grid-container.index-stage
			.index-stage__info.grid-item._desc
				.index-stage__name
					span Stage 1:
					| Architectural Design
				.index-stage__duration up to 30 days
				a.index-stage__link.button-link(href="/workflow.html")
					| Explore
					.icon
						include ../../img/icons/arrow-right.svg
			.grid-item._content.index-stage__img
				img(src="../../assets/img/projects/yukon-house/YUKON-house-4.jpg")

		.grid-container.index-stage._reverse
			.index-stage__info.grid-item._desc
				.index-stage__name
					span Stage 2:
					| Interior Design
				.index-stage__duration up to 60 days
				a.index-stage__link.button-link(href="/workflow.html")
					| Explore
					.icon
						include ../../img/icons/arrow-right.svg
			.grid-item._content.index-stage__img
				img(src="../../assets/img/projects/yukon-house/YUKON-house-5.jpg")

		.grid-container.index-stage
			.index-stage__info.grid-item._desc
				.index-stage__name
					span Stage 3:
					| Construction Documents
				.index-stage__duration up to 45 days
				a.index-stage__link.button-link(href="/workflow.html")
					| Explore
					.icon
						include ../../img/icons/arrow-right.svg
			.grid-item._content.index-stage__img
				img(src="../../assets/img/projects/yukon-house/YUKON-house-6.jpg")


	section.section.feedback._contrast
		.grid-container
			.grid-item._desc
				h2.section__title Let's talks about your ideas!
			.grid-item._content.feedback-form
				include ../includes/components/form

	section.section.index-blog
		.grid-container._column
			.grid-item._desc
				h2.section__title Блог
			ul.grid-item._content.blog__list
				li.blog__item
					a(href="/") Про дома
				li.blog__item
					a(href="/") Не про дома
				li.blog__item
					a(href="/") Пустая статья
