extends ../layouts/layout

block vars
	- var classPage = "page-projects"
	- var titlePage = "Александр Неровня"
	- var descPage = "Архитектор"

block content
	section.section.first-section
		.grid-container.projects-wrapper
			.grid-item._desc.projects-aside
				h1.section__title Projects

				.project__filters
					h3.project__filters-title Categories
					button.project__filter.is-checked(data-filter="*") All projects
					button.project__filter(data-filter="._2020") #2020
					button.project__filter(data-filter="._2021") #2021
					button.project__filter(data-filter="._villa") #villa
					button.project__filter(data-filter="._retreat") #retreat

			.grid-item._content.projects-list
				.inner
					a.project._villa._2020(href="/project.html")
						.project__info
							span.project__type Villa
							h4.project__name Abu Dhabi
							.project__tags
								span.project__tag #2020
								span.project__tag #villa
						.project__img
							img(src="../../assets/img/projects/sky-house/SKY-house-1-halved.jpg")
						span.project__link.button-link
							| Explore
							.icon
								include ../../img/icons/arrow-right.svg

					a.project._villa._2021(href="/project.html")
						.project__info
							span.project__type Villa
							h4.project__name Dhubbaee
						.project__img
							img(src="../../assets/img/projects/sky-house/SKY-house-2.jpg")
						span.project__link.button-link
							| Explore
							.icon
								include ../../img/icons/arrow-right.svg
					a.project._villa._2020(href="/project.html")
						.project__info
							span.project__type Villa
							h4.project__name Abu Dhabi
							.project__tags
								span.project__tag #2020
								span.project__tag #villa
						.project__img
							img(src="../../assets/img/projects/sky-house/SKY-house-1-halved.jpg")
						span.project__link.button-link
							| Explore
							.icon
								include ../../img/icons/arrow-right.svg

					a.project._villa._2021(href="/project.html")
						.project__info
							span.project__type Villa
							h4.project__name Dhubbaee
						.project__img
							img(src="../../assets/img/projects/sky-house/SKY-house-2.jpg")
						span.project__link.button-link
							| Explore
							.icon
								include ../../img/icons/arrow-right.svg
					a.project._villa._2020(href="/project.html")
						.project__info
							span.project__type Villa
							h4.project__name Abu Dhabi
							.project__tags
								span.project__tag #2020
								span.project__tag #villa
						.project__img
							img(src="../../assets/img/projects/sky-house/SKY-house-1-halved.jpg")
						span.project__link.button-link
							| Explore
							.icon
								include ../../img/icons/arrow-right.svg

					a.project._villa._2021(href="/project.html")
						.project__info
							span.project__type Villa
							h4.project__name Dhubbaee
						.project__img
							img(src="../../assets/img/projects/sky-house/SKY-house-2.jpg")
						span.project__link.button-link
							| Explore
							.icon
								include ../../img/icons/arrow-right.svg
					a.project._villa._2020(href="/project.html")
						.project__info
							span.project__type Villa
							h4.project__name Abu Dhabi
							.project__tags
								span.project__tag #2020
								span.project__tag #villa
						.project__img
							img(src="../../assets/img/projects/sky-house/SKY-house-1-halved.jpg")
						span.project__link.button-link
							| Explore
							.icon
								include ../../img/icons/arrow-right.svg

					a.project._villa._2021(href="/project.html")
						.project__info
							span.project__type Villa
							h4.project__name Dhubbaee
						.project__img
							img(src="../../assets/img/projects/sky-house/SKY-house-2.jpg")
						span.project__link.button-link
							| Explore
							.icon
								include ../../img/icons/arrow-right.svg
