extends ../layouts/layout

block vars
	- var classPage = "page-workflow"
	- var titlePage = "Александр Неровня"
	- var descPage = "Архитектор"

block content
	section.section
		.grid-container
			h1.section__title Как мы работаем
			article.grid-item._content
				p Our designs are guided by fundamental principles of honest minimalism, alliance with the environment and universal accessibility. We create our designs by stripping down the clients' needs to their naked core and use simple forms to produce projects, harmonious with the surrounding ecosystem. Whatever task we encounter, we strive to create a synergy with the surrounding nature rather than conquer it.
		.container
			h2 General notes:
			p In order to make it easier to work on an architectural project remotely and internationally, we introduce a simple 3-stage system:

	section.section.workflow
		.grid-container
			.grid-item._desc
				h3.stage__name
					span Stage 1
					span Architectural<br>Design
				span.stage__duration up to 30 days

			article.grid-item._content
				.stage__desc
					h4 Process
					p We begin this stage by creating 3 versions of the design, all different on the exterior and the interior. The discussion of the best ideas and elements within these three versions is a major step in the project, helping us formulate the general design direction and make sure that our client has every opportunity to adjust the design. After that, we go through a number of iterations of the plans and 3D imagery, finally producing a complete design solution of the building, considering all necessary constructional demands.
					h4 Result
					ul.stage__results
						li Plans of the building(s) (the layouts of the internal and external areas of the buildings with detailed space composition, zoning and furnishing proposals);
						li Facade elevations, 4 per building;
						li Longitudinal and cross section plans of the building;
						li HD 3D rendered images of the final design of the building;
						li A general plan of the land plot with auxiliary items (parking, roads, etc.);
						li An Architect's Note to the project.


	section.section.workflow
		.grid-container
			.grid-item._desc
				h3.stage__name
					span Stage 2
					span Interior Design
				span.stage__duration up to 60 days

			article.grid-item._content
				.stage__desc
					h4 Process
					p &mdash;
					h4 Result
					ul.stage__results
						li Dimensions plan;
						li Zoning plan;
						li Furniture and sanitary wares allocation;
						li Floor layout plan;
						li Ceiling layout plan;
						li Tiling, paneling and other décor layout plans;
						li Electric wiring plan;
						li Lighting fixtures and switches plan;
						li Architects' note, specifying design solutions and custom objects in the interior;
						li Up to 5 HD 3D images of each internal space.


	section.section.workflow
		.grid-container
			.grid-item._desc
				h3.stage__name
					span Stage 3
					span Construction<br>Documents
				spam.stage__duration up to 45 days

			article.grid-item._content
				.stage__desc
					h4 Process
					p &mdash;
					p This is the final stage before actual on-site construction can be launched. For up to 45 days we develop a turnkey solution that acts as a practical guide for the entire construction and decoration job that will be done by the contractor, thoroughly describing the structural system of the house, all engineering components of the lighting, ventilation, heating, security systems, etc.
					p The result of this stage in an extensive package of documents that act as a thorough catalogue, ready to be used by the builders and turned into reality.
					h4 Result
					ul.stage__results
						li Complete architectural solution for the building from basic structure and up;
						li Structural and engineering solution for the building;
						li A facade plan, doors, frames and windows details;Roofing and flooring pie breakdown;
						li An Architect's explanatory note.
