extends ../layouts/layout

block vars
	- var classPage = "page-workflow"
	- var titlePage = "Александр Неровня"
	- var descPage = "Архитектор"

block content
	section.section.first-section._cover
		.container
			h1 Как мы работаем
