aside
	.aside__top
		a.aside__logo(href="#")
			include ../../img/logo.svg

		button.button.menu-close-button(onclick="closeMenu()")
			.icon
				include ../../img/icons/cross.svg

	nav.aside__menu
		ul
			li
				a(href="#")
					span Проекты
			li
				a(href="#")
					span О нас
			li
				a(href="#")
					span Как работаем
			li
				a(href="#")
					span Контакты

	.aside__bottom
		a.aside__inst(href="#")
			.icon
				include ../../img/icons/instagram.svg
		.aside__langs
			a.aside__lang(href="#")._active En
			a.aside__lang(href="#") Ru
