.about {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
}

.about__item {
	display: grid;
	grid-template-rows: 100px min-content min-content;
	padding: 24px 32px;
	background: var(--cl-beige);
	border-radius: 12px;
}

.about__item-name {
	font-weight: 600;
}
