.about {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
}

.about__item {
	display: grid;
	grid-template-rows: 100px min-content min-content;
	padding: 24px 32px;
	background: var(--cl-beige);
	border-radius: 12px;
	/* color: var(--cl-text-alt);
	backdrop-filter: blur(4px);
	background-color: rgba(0,191,255, 0.019);
	box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
	border: 1px rgba(255,255,255,0.4) solid;
	border-bottom: 1px rgba(40,40,40,0.35) solid;
	border-right: 1px rgba(40,40,40,0.35) solid; */
}

.about__item-name {
	font-weight: 600;
}
