.page-index .section {
	min-height: 400px;
}

@media(max-width: 600px) {
	.page-index .section {
		min-height: auto;
	}
}

.page-index .first-section {
	position: relative;
}

.page-index .projects-slider {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.projects-slider .swiper-slide {
	background-size: cover;
	background-position: 50% 50%;
}

.projects-slider .swiper-navigation {
	position: absolute;
	justify-content: flex-start;
	right: 80px;
	bottom: 80px;
	z-index: 50;
}

@media(max-width: 600px) {
	.projects-slider .swiper-navigation {
		right: 40px;
	}
}

.projects-slider .button-prev,
.projects-slider .button-next {
	padding: 12px;
	background-color: var(--cl-black);
	border-radius: 50%;
}

.index-all-projects {
	position: absolute;
	bottom: 80px;
	left: calc((100% - var(--container-width-lg)) / 2 + 12px);
	display: flex;
	z-index: 50;
}

@media(max-width: 1600px) {
	.index-all-projects {
		left: 100px;
	}
}

@media(max-width: 1600px) {
	.index-all-projects {
		right: 40px;
		top: 12px;
		bottom: auto;
		left: auto;
	}
}

.index-all-projects a {
	padding: 4px;
	text-decoration: none;
	color: var(--cl-text);
	border-bottom: 2px solid;
}

.projects-slider__img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: calc((100% - var(--container-width-lg)) / 2 + 40px);
	z-index: 40;
}

.projects-slider__img img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.projects-slider .container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	background: rgb(245,245,246);
	background: linear-gradient(90deg, rgba(245,245,246,1) 0%, rgba(245,245,246,1) 25%, rgba(245,245,246,0) 50%);
	background: linear-gradient(90deg, rgba(245,245,246,1) 0%, rgba(245,245,246,1) 25%, rgba(245,245,246,0.75) 35%, rgba(245,245,246,0) 50%);
	z-index: 50;
}

@media(max-width: 1600px) {
	.projects-slider .container {
		padding-left: 100px;
		background: linear-gradient(90deg, rgba(245,245,246,1) 0%, rgba(245,245,246,1) 25%, rgba(245,245,246,0.75) 50%, rgba(245,245,246,0) 75%);
	}
}

@media(max-width: 600px) {
	.projects-slider .container {
		justify-content: start;
		padding-top: 100px;
		padding-left: 40px;
		background: linear-gradient(135deg, rgba(245,245,246,1) 0%, rgba(245,245,246,1) 25%, rgba(245,245,246,0.75) 50%, rgba(245,245,246,0) 75%);
	}
}

.projects-slider__info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	z-index: 50;
}

.projects-slider__project-type {
	transform: translateX(-40px);
	opacity: 0;
	transition: all .5s ease-in-out .1s;
}

.projects-slider__project-name {
	transform: translateX(-40px);
	opacity: 0;
	transition: all .5s ease-in-out .3s;
}

.projects-slider__project-desc {
	margin-top: 20px;
	transform: translateX(-40px);
	opacity: 0;
	transition: all .5s ease-in-out .5s;
}

.projects-slider__project-link {
	margin-top: 80px;
	transform: translateX(-6px);
	transform: translateX(-40px);
	opacity: 0;
	transition: all .5s ease-in-out .7s;
}

.projects-slider .swiper-slide-active .projects-slider__project-type,
.projects-slider .swiper-slide-active .projects-slider__project-name,
.projects-slider .swiper-slide-active .projects-slider__project-desc,
.projects-slider .swiper-slide-active .projects-slider__project-link {
	opacity: 1;
	transform: translateX(0px);
}

.index-project {
	position: relative;
	align-items: center;
	padding-left: var(--aside-offset);
	grid-template-rows: 600px;
	z-index: 50;
}

@media(max-width: 1600px) {
	.index-project {
		grid-template-rows: min-content;
		padding-left: 80px;
	}
}

@media(max-width: 600px) {
	.index-project {
		grid-template-rows: auto;
	}
}

.index-project__info {
	padding: 24px 40px;
	background-color: var(--cl-bg-alt);
}

.index-project__type {
	font-weight: 500;
}

.index-project__name {
	margin: 12px 0 40px;
	line-height: 1.2;
	font-weight: 900;
	font-size: 32px;
}

.index-project__tags {
	display: flex;
	flex-wrap: wrap;
	transform: translateX(-12px);
}

.index-project__tag {
	margin-right: 8px;
	padding: 4px 12px;
	border-radius: 20px;
	transition: all .2s ease-in-out;
	text-decoration: none;
}

.index-project__tag:hover {
	background: var(--cl-green);
}

.index-stage {
	grid-template-rows: 600px;
	align-items: center;
}

.index-stage__info {
	padding: 24px 40px;
}

.index-stage__name {
	display: flex;
	flex-direction: column;
	line-height: 1.2;
	font-weight: 900;
	font-size: 32px;
}

.index-stage__name span {
	font-weight: 500;
}

.index-stage__duration {
	margin-top: 20px;
}

.index-stage__link {
	margin-top: 80px;
}
