.section {
	min-height: 400px;
}

.page-index .first-section {
	position: relative;
}

.page-index .index-slider {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.index-slider .swiper-slide {
	background-size: cover;
	background-position: 50% 50%;
}

.index-slider .swiper-navigation {
	position: absolute;
	justify-content: flex-start;
	left: calc((100% - var(--container-width-lg)) / 2 + 40px);
	bottom: 80px;
	z-index: 50;
}

.index-slider .button-prev,
.index-slider .button-next {
	padding: 12px;
}

.index-all-projects {
	position: absolute;
	top: 80px;
	right: 80px;
	z-index: 50;
}

.index-all-projects a {
	padding: 12px 24px;
	text-decoration: none;
	color: var(--cl-text);
	border: 2px solid;
	border-radius: 50px;
}

.index-slider__img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: calc((100% - var(--container-width-lg)) / 2 + 40px);
	z-index: 40;
}

.index-slider__img img {
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.index-slider .container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	background: rgb(255,255,255);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,0) 50%);
	background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25%, rgba(255,255,255,0.75) 35%, rgba(255,255,255,0) 50%);
	z-index: 50;
}

.index-slider__info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	z-index: 50;
}

.index-slider__project-type {
	transform: translateX(-40px);
	opacity: 0;
	transition: all .5s ease-in-out .1s;
}

.index-slider__project-name {
	transform: translateX(-40px);
	opacity: 0;
	transition: all .5s ease-in-out .3s;
}

.index-slider__project-desc {
	margin-top: 20px;
	transform: translateX(-40px);
	opacity: 0;
	transition: all .5s ease-in-out .5s;
}

.index-slider__project-link {
	margin-top: 80px;
	transform: translateX(-6px);
	transform: translateX(-40px);
	opacity: 0;
	transition: all .5s ease-in-out .7s;
}

.index-slider .swiper-slide-active .index-slider__project-type,
.index-slider .swiper-slide-active .index-slider__project-name,
.index-slider .swiper-slide-active .index-slider__project-desc,
.index-slider .swiper-slide-active .index-slider__project-link {
	opacity: 1;
	transform: translateX(0px);
}

.index-project {
	position: relative;
	align-items: center;
	padding-left: var(--aside-offset);
	grid-template-rows: 600px;
	z-index: 50;
}

.index-project__info {
	padding: 24px 40px;
	background-color: var(--cl-bg);
}

.index-project__type {
	font-weight: 500;
}

.index-project__name {
	margin: 12px 0 40px;
	line-height: 1.2;
	font-weight: 900;
	font-size: 32px;
}

.index-project__tags {
	display: flex;
	flex-wrap: wrap;
	transform: translateX(-12px);
}

.index-project__tag {
	margin-right: 8px;
	padding: 4px 12px;
	border-radius: 20px;
	transition: all .2s ease-in-out;
	text-decoration: none;
}

.index-project__tag:hover {
	background: var(--cl-green);
}

.index-team .section__title {
	transform: translateY(100px);
}

.index-team__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 20px;
	align-items: stretch;
	margin: 0;
	padding: 0;
	max-width: 100%;
	height: 600px;
}

.index-team__item {
	position: relative;
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.index-team__item::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: .7;
	background: var(--cl-black);
	pointer-events: none;
	transition: all .3s ease-in-out;
	z-index: 15;
}

.index-team__item:hover .index-team__item-info {
	transform: translateY(0);
	opacity: 1;
}

.index-team__item:hover::after {
	opacity: 0;
}

.index-team__item .inner {
	display: flex;
	height: 100%;
	text-decoration: none;
}

.index-team__item-img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: 10;
}

.index-team__item-info {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 40px 0;
	text-align: center;
	color: var(--cl-text-contrast);
	background: var(--cl-black-075);
	opacity: 0;
	transform: translateY(20%);
	transition: all .3s ease-in-out;
	z-index: 20;
}

.index-stage {
	grid-template-rows: 600px;
	align-items: center;
}

.index-stage__info {
	padding: 24px 40px;
}

.index-stage__name {
	display: flex;
	flex-direction: column;
	line-height: 1.2;
	font-weight: 900;
	font-size: 32px;
}

.index-stage__name span {
	font-weight: 500;
}

.index-stage__duration {
	margin-top: 20px;
}

.index-stage__link {
	margin-top: 80px;
}
