.workflow .section__title {
	margin-top: 0;
	font-size: 2rem;
	font-variant: lining-nums;
}

@media(max-width: 1000px) {
	.workflow .grid-container {
		grid-template-columns: 1fr;
		grid-gap: 40px;
	}
	.workflow .grid-item._content {
		grid-column: 1/2;
	}
}

.stage__name {
	display: flex;
	flex-direction: column;
	font-weight: 900;
}

.stage__name span:first-child {
	margin-bottom: 2rem;
	font-weight: 600;
	font-size: 1.5rem;
	color: var(--cl-orange-blood);
}
