aside.aside._left
	.open-menu(onclick="openMenu()")
		.icon
			include ../../../img/icons/menu.svg

	.close-menu._hidden(onclick="closeMenu()")
		.icon
			include ../../../img/icons/cross.svg

	.site-label
		include ../../../img/label.svg

	include ../elements/siteLogo.pug

	include ../elements/siteMenu.pug

	.aside__bottom
		include ../elements/siteLangs.pug

		.aside__botton-contacts
			a.phone(href="tel:+79150991886") +7 (915) 099-18-86
			a.email(href="mailto:alex_nerovnya@mail.ru") alex_nerovnya@mail.ru

.overlay-aside-close(onclick="closeMenu()")
