aside.aside._left
	.open-menu(onclick="openMenu()")
		.icon
			include ../../../img/icons/menu.svg

	.close-menu._hidden(onclick="closeMenu()")
		.icon
			include ../../../img/icons/cross.svg

	.site-label
		include ../../../img/label.svg

	include ../elements/siteLogo.pug

	include ../elements/siteMenu.pug

	.aside__bottom
		include ../elements/siteLangs.pug

.overlay-aside-close(onclick="closeMenu()")
