form.form(action="" name="form" autocomplete="on")
	.form__primary
		.form__item
			input(class="field" id="input-name" name="input-name" type="text" required autocomplete="firstname")
			label(for="input-name") Имя
		.form__item
			input(class="field" id="input-email" name="input-email" type="email" required autocomplete="email")
			label(for="input-email") Email
		.form__item
			input(class="field" id="input-phone" name="input-phone" type="tel" autocomplete="tel" )
			label(for="input-phone") Телефон

	.form__secondary
		.form__item._grow
			textarea(class="field" id="input-message" name="input-message" required)
			label(for="input-message") Сообщение

	button.button(type="submit" id="form-button") Отправить
