nav.site-menu
	ul.inner
		li._active
			a(href="/projects.html")
				span Проекты
		li
			a(href="/about.html")
				span О нас
		li
			a(href="/workflow.html")
				span Как работаем
		li
			a(href="/contacts.html")
				span Контакты
		li
			a(href="/blog.html")
				span Блог
