:root {
	--cl-white: #FFFFFF;
	--cl-salad-md: #80D0C7;
	--cl-salad-light: #D1FBF6;
	--cl-aqua-md: #13547A;
	--cl-aqua-light: #3490C6;
	--cl-black: #242424;

	--cl-text: var(--cl-aqua-md);
	--cl-text-contrast: var(--cl-salad-light);

	--cl-bg: var(--cl-white);
	--cl-bg-contrast: var(--cl-aqua-md);

	--container-width-lg: 1400px;
	--container-width-md: 1000px;
	--container-width-sm: 700px;

	--media-reakpoint-lg: 1100px;
	--media-reakpoint-md: 760px;
	--media-reakpoint-sm: 500px;

	--anim-time-lg: .8s;
	--anim-time-md: .5s;
	--anim-time-sm: .3s;
	--anim-tf: ease-in-out;
}
