.aside {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
	justify-items: end;
	padding: 40px 50px;
	width: var(--aside-width);
	background: var(--cl-black);
	color: var(--cl-text-contrast);
}

.aside:hover {
	opacity: 1;
}

.aside .site-logo {
	max-width: 200px;
	width: 100%;
}

.aside .site-logo svg {
	fill: var(--cl-text-contrast);
}

.aside .site-menu {
	align-self: center;
}
