aside {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: grid;
	grid-template-rows: min-content minmax(min-content, 1fr) min-content;
	background: var(--cl-bg);
	transform: translateX(100%);
	transition: transform var(--anim-time-md) var(--anim-tf);
	visibility: hidden;
	z-index: 100;
}

aside._show {
	visibility: visible;
}

aside._active {
	transform: translateX(0);
}

.aside__top,
.aside__bottom {
	display: grid;
	grid-template-columns: 1fr min-content;
	align-items: center;
	padding: 12px 20px;
	color: var(--cl-text);
}

.aside__logo {
	width: auto;
	height: 32px;
}

.aside__logo svg {
	width: auto;
	height: 100%;
	fill: var(--cl-text);
}

.aside__inst {
	width: 24px;
}

.aside__inst svg {
	fill: var(--cl-text);
}

.aside__langs {
	justify-self: end;
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 12px;
	padding-right: 20px;
	font-weight: 600;
	font-size: 12px;
}

.aside__lang {
	text-decoration: none;
	opacity: .7;
}

.aside__lang._active {
	opacity: 1;
}

.aside__menu {
	padding: 20px;
}

.aside__menu ul {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px 100px;
	justify-items: stretch;
	align-items: stretch;
	grid-gap: 20px;
	margin: 0;
	padding: 0;
}

.aside__menu li {
	list-style-type: none;
	background-color: var(--cl-bg-contrast);
	color: var(--cl-text-contrast);
}

.aside__menu a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
	text-transform: uppercase;
}
