button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 32px;
	border: 2px solid var(--cl-bg-contrast);
	border-radius: 8px;
	outline: none;
	background: var(--cl-bg-contrast);
	font-weight: 500;
	color: var(--cl-text-contrast);
	cursor: pointer;
}
