::selection {
	background: var(--cl-orange-blood);
}

html {
	min-height: 100vh;
	height: 100%;
	overflow-x: hidden;
	line-height: 1.3;
	font-weight: 500;
	font-size: 16px;
}

body {
	padding: 0;
	height: 100%;
	overflow-x: hidden;
	background-color: var(--cl-bg-global);
	color: var(--cl-text);
}

main {
	position: relative;
	min-height: 100vh;
}

.section {
	padding: 100px 0;
	padding-left: var(--aside-width-padding);
}

.section._cover {
	min-height: 100vh;
}

.section._center {
	display: flex;
	align-items: center;
}

.section.first-section {
	background: var(--cl-bg-alt);
}

.section.first-section h1 {
	margin-bottom: 0;
	text-transform: uppercase;
	line-height: 1;
	font-weight: 900;
	font-size: 80px;
}

.section._alt {
	background: var(--cl-bg-alt);
}

.section._contrast {
	background: var(--cl-bg-contrast);
	color: var(--cl-text-alt);
}

/* .section__title {
	position: absolute;
	top: 12px;
	left: var(--aside-width-padding);
} */

.container {
	margin: 0 auto;
	width: 100%;
	max-width: var(--container-width-lg);
	padding: 0 40px;
}

.icon {
	display: flex;
	width: 24px;
	height: 24px;
}

.site-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100px;
	min-height: 20px;
}

.social {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
}

.social._lg {
	width: 44px;
	height: 44px;
}

.social .icon {
	width: 100%;
	height: 100%;
}

.social svg {
	fill: var(--cl-text-alt);
}
