
.swiper-container.swiper-container-vertical {
	padding: 0 40px;
}
.button-next,
.button-prev {
	margin-top: 0;
	width: auto;
	height: auto;
	min-width: 24px;
	min-height: 24px;
	transition: all .2s ease-in-out;
	cursor: pointer;
}

.button-next .icon,
.button-prev .icon {
	width: 24px;
}

.button-next .icon svg,
.button-prev .icon svg {
	fill: var(--cl-text);
}

.button-next:after,
.button-prev:after {
	display: none;
}

.swiper-container-vertical .button-prev,
.swiper-container-vertical .button-next {
	z-index: 10;
}

.swiper-navigation {
	display: flex;
	align-items: center;
}

.swiper-navigation .button-prev + .button-next {
	margin-left: 12px;
}

.swiper-navigation .button-prev,
.swiper-navigation .button-next {
	position: static;
}

.swiper-navigation .annotation {
	margin-left: auto;
}


.swiper-container-vertical .button-prev {
	top: 90px;
	right: 0;
	left: auto;
}

.swiper-container-vertical .button-next {
	top: auto;
	right: 0;
	left: auto;
	bottom: 90px;
}


.swiper-button-disabled {
	opacity: .5;
}
