html {
	font-family: 'Montserrat',system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
	line-height: 1.4;
	font-weight: 400;
	font-size: 18px;
}


body {
	font-family: inherit;
	line-height: inherit;
	font-weight: inherit;
	font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 2em 0 1em;
	font-weight: 600;
	color: var(--cl-text-alt);
}

h1 {
	font-size: 24px;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 16px;
}

h6 {
	font-size: 16px;
}

@media (min-width: var(--media-breakpoint-tablet)) {
	h1 {
		font-size: 44px;
	}

	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 20px;
	}

	h5 {
		font-size: 18px;
	}

	h6 {
		font-size: 16px;
	}
}


h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

mark {
	background: none;
	color: var(--cl-text-marked);
}

a {
	color: var(--cl-text-link);
}

b,
strong {
	font-weight: 600;
}

p {
	max-width: 700px;
}
