.aside {
	position: fixed;
	top: 20px;
	right: 200px;
	bottom: 20px;
	left: 20px;
	display: grid;
	grid-template-rows: auto 1fr auto;
	justify-items: start;
	padding: 40px 50px;
	border-radius: 32px;
	background: var(--cl-black);
	color: var(--cl-text-contrast);
	transform: translateX( calc(-100% + 28px) );
	transition: transform .3s ease-in-out;
	z-index: 100;
}

.aside:not(._active):hover {
	transform: translateX( calc(-100% + 50px) );
}

.aside._active {
	transform: translateX(0);
}

.aside:hover {
	opacity: 1;
}

.aside .site-logo {
	max-width: 200px;
	width: 100%;
}

.aside .site-logo svg {
	fill: var(--cl-text-contrast);
}

.aside .site-menu {
	align-self: center;
}

.open-menu {
	position: absolute;
	top: 20px;
	right: 10px;
	width: 32px;
	height: 32px;
	padding: 0;
}

.aside-close {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	display: none;
}

.aside-close._active {
	display: block;
}

button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 32px;
	border: 2px solid var(--cl-bg-contrast);
	border-radius: 8px;
	outline: none;
	background: var(--cl-bg-contrast);
	font-weight: 500;
	color: var(--cl-text-contrast);
	cursor: pointer;
}

.page-footer {
	margin-left: var(--aside-width);
	padding: 40px 20px 44px;
}

.site-copyright {
	/* font-size: 12px; */
}

.form {
	display: grid;
	justify-items: start;
	max-width: 400px;
}

label + input,
label + textarea {
	margin-top: 6px;
}

label {
	font-weight: 500;
}

input + label,
textarea + label {
	margin-top: 20px;
}

textarea {
	resize: vertical;
	max-height: 400px;
	min-height: 80px;
}

input,
textarea {
	padding: 8px 12px;
	width: 100%;
	border: 2px solid var(--cl-green);
	border-radius: 4px;
	outline: none;
	transition: all .2s ease;
}

input:active,
input:focus,
textarea:active,
textarea:focus {
	border: 2px solid var(--cl-red-dark);
	outline: none;
}

button[type="submit"] {
	margin-top: 32px;
}



.site-langs {
	display: flex;
	align-items: center;
}

.site-lang {
	padding: 4px 8px;
	text-transform: uppercase;
	text-decoration: none;
	opacity: .7;
}

.site-lang._active {
	font-weight: 600;
	opacity: 1;
}

.site-lang-divider {
	margin: 0 4px;
	width: 1px;
	height: 12px;
	background-color: var(--cl-text-contrast);
	opacity: .7;
}

::selection {
	background: var(--cl-orange-blood);
}

html {
	min-height: 100vh;
	height: 100%;
	overflow-x: hidden;
	line-height: 1.3;
	font-weight: 500;
	font-size: 16px;
}

body {
	padding: 0;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	background-color: var(--cl-bg-global);
	color: var(--cl-text);
}

body._no-scroll {
	overflow-y: hidden;
}

main {
	position: relative;
	min-height: 100vh;
}

.section {
	padding: 100px 80px;
}

.section._cover {
	min-height: 100vh;
}

.section._center {
	display: flex;
	align-items: center;
}

.section.first-section {
	background: var(--cl-bg-alt);
}

.section.first-section h1 {
	margin-bottom: 0;
	text-transform: uppercase;
	line-height: 1.1;
	font-weight: 900;
	font-size: 80px;
}

.section._alt {
	background: var(--cl-bg-alt);
}

.section._contrast {
	background: var(--cl-bg-contrast);
	color: var(--cl-text-contrast);
}

.section__title {
	/* position: fixed; */
	top: 50%;
	left: var(--aside-width-padding);
}

.container {
	margin: 0 auto;
	width: 100%;
	/* max-width: var(--container-width-lg); */
	padding: 0 40px;
}

.icon {
	display: flex;
	width: 24px;
	height: 24px;
}

.site-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 100px;
	min-height: 20px;
}

.social {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
}

.social._lg {
	width: 44px;
	height: 44px;
}

.social .icon {
	width: 100%;
	height: 100%;
}

.social svg {
	fill: var(--cl-text-alt);
}

.site-menu .inner {
	display: grid;
	grid-template-rows: min-content;
	grid-row-gap: 12px;
	justify-items: start;
	padding: 0;
	margin: 0;
	text-align: right;
}

.site-menu .inner li {
	margin-top: 0;
	list-style: none;
	transition: all var(--anim-time-sm) ease-in-out;
}

.site-menu .inner li:hover {
	transform: translateX(8px);
}

.site-menu .inner li._active a {
	opacity: 1;
	font-weight: 600;
}

.site-menu .inner a {
	padding: 4px 8px;
	text-decoration: none;
	text-transform: lowercase;
	opacity: .7;
}

.swiper-container {
	padding-bottom: 40px !important;
}

.swiper-container.swiper-container-vertical {
	padding: 0 40px;
}
.swiper-button-next,
.swiper-button-prev {
	margin-top: 0 !important;
	height: auto !important;
}

.swiper-button-next .icon,
.swiper-button-prev .icon {
	fill: var(--cl-orange-blood)
}

.swiper-button-next:after,
.swiper-button-prev:after {
	display: none;
}

.swiper-container-vertical .swiper-button-prev,
.swiper-container-vertical .swiper-button-next {
	z-index: 10;
}

.swiper-navigation {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
}

.swiper-navigation .swiper-button-prev + .swiper-button-next {
	margin-left: 12px;
}

.swiper-navigation .swiper-button-prev,
.swiper-navigation .swiper-button-next {
	position: static;
}

.swiper-navigation .annotation {
	margin-left: auto;
}


.swiper-container-vertical .swiper-button-prev {
	top: 90px;
	right: 0;
	left: auto;
}

.swiper-container-vertical .swiper-button-next {
	top: auto;
	right: 0;
	left: auto;
	bottom: 90px;
}

html {
	font-family: 'Raleway',system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
	line-height: 1.4;
	font-weight: 400;
	font-size: 18px;
}


body {
	font-family: inherit;
	line-height: inherit;
	font-weight: inherit;
	font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 2em 0 1em;
	font-weight: 600;
	/* color: var(--cl-text-alt); */
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.8rem;
}

h4 {
	font-size: 1.6rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 1rem;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: 0;
}

mark {
	background: none;
	color: var(--cl-text-marked);
}

a {
	color: var(--cl-text-link);
}

b,
strong {
	font-weight: 600;
}

p,
ol,
ul,
li {
	max-width: 700px;
}

li + li {
	margin-top: .5em;
}

:root {
	--cl-white: #FFFFFF;
	--cl-black: #2C2627;
	--cl-green: #6EB5A5;
	--cl-blue-deep: #182F53;
	--cl-orange-blood: #F85528;
	--cl-red-dark: #5B0004;
	--cl-red-pink: #A13842;
	--cl-beige: #ffffeb;

	--cl-text: var(--cl-black);
	--cl-text-alt: var(--cl-orange-blood);
	--cl-text-contrast: var(--cl-white);
	--cl-text-contrast-alt: var(--cl-beige);

	--cl-bg: var(--cl-white);
	--cl-bg-alt: var(--cl-beige);
	--cl-bg-contrast: var(--cl-red-pink);

	--container-width-lg: 1400px;
	--container-width-md: 800px;
	--container-width-sm: 500px;

	--media-breakpoint-desktop: 1200px;
	--media-breakpoint-tablet: 760px;
	--media-breakpoint-mobile: 500px;

	--anim-time-lg: .5s;
	--anim-time-md: .3s;
	--anim-time-sm: .1s;
	--anim-tf: ease-in-out;

	--aside-width: 300px;
	--aside-width-padding: 340px;
}

.about {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px;
}

.about__item {
	display: grid;
	grid-template-rows: 100px min-content min-content;
	padding: 24px 32px;
	background: var(--cl-beige);
	border-radius: 12px;
	/* color: var(--cl-text-alt);
	backdrop-filter: blur(4px);
	background-color: rgba(0,191,255, 0.019);
	box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
	border: 1px rgba(255,255,255,0.4) solid;
	border-bottom: 1px rgba(40,40,40,0.35) solid;
	border-right: 1px rgba(40,40,40,0.35) solid; */
}

.about__item-name {
	font-weight: 600;
}

.contacts__socials {
	margin-top: 40px;
}

.contacts__socials-links {
	display: flex;
	gap: 20px
}

.contact__form {
	margin-top: 100px;
}

.section {
	min-height: 400px;
}
.page-index .first-section .inner {
	display: flex;
	align-items: center;
}

.page-index .first-section {
	background-position: 50% 50%;
	background-size: cover;
}

.page-index .section__title {
	max-width: 500px;
}

.index-slider {
	width: 100%;
	max-width: 800px;
	height: 500px;
}

.index-slider .swiper-slide {
	background-size: cover;
	background-position: 50% 50%;
	border-radius: 20px;
}

.workflow {
	/* display: grid; */
	margin-top: 100px;
}

/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */*,::after,::before{box-sizing:border-box}:root{-moz-tab-size:4;tab-size:4}html{-webkit-text-size-adjust:100%}body{margin:0}hr{height:0;color:inherit}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:ui-monospace,SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}table{text-indent:0;border-color:inherit}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}::-moz-focus-inner{border-style:none;padding:0}:-moz-focusring{outline:1px dotted ButtonText}:-moz-ui-invalid{box-shadow:none}legend{padding:0}progress{vertical-align:baseline}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}

/**
 * Swiper 6.5.9
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2021 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: April 30, 2021
 */

@font-face{font-family:swiper-icons;src:url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA') format('woff');font-weight:400;font-style:normal}:root{--swiper-theme-color:#007aff}.swiper-container{margin-left:auto;margin-right:auto;position:relative;overflow:hidden;list-style:none;padding:0;z-index:1}.swiper-container-vertical>.swiper-wrapper{flex-direction:column}.swiper-wrapper{position:relative;width:100%;height:100%;z-index:1;display:flex;transition-property:transform;box-sizing:content-box}.swiper-container-android .swiper-slide,.swiper-wrapper{transform:translate3d(0px,0,0)}.swiper-container-multirow>.swiper-wrapper{flex-wrap:wrap}.swiper-container-multirow-column>.swiper-wrapper{flex-wrap:wrap;flex-direction:column}.swiper-container-free-mode>.swiper-wrapper{transition-timing-function:ease-out;margin:0 auto}.swiper-container-pointer-events{touch-action:pan-y}.swiper-container-pointer-events.swiper-container-vertical{touch-action:pan-x}.swiper-slide{flex-shrink:0;width:100%;height:100%;position:relative;transition-property:transform}.swiper-slide-invisible-blank{visibility:hidden}.swiper-container-autoheight,.swiper-container-autoheight .swiper-slide{height:auto}.swiper-container-autoheight .swiper-wrapper{align-items:flex-start;transition-property:transform,height}.swiper-container-3d{perspective:1200px}.swiper-container-3d .swiper-cube-shadow,.swiper-container-3d .swiper-slide,.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top,.swiper-container-3d .swiper-wrapper{transform-style:preserve-3d}.swiper-container-3d .swiper-slide-shadow-bottom,.swiper-container-3d .swiper-slide-shadow-left,.swiper-container-3d .swiper-slide-shadow-right,.swiper-container-3d .swiper-slide-shadow-top{position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:none;z-index:10}.swiper-container-3d .swiper-slide-shadow-left{background-image:linear-gradient(to left,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-right{background-image:linear-gradient(to right,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-top{background-image:linear-gradient(to top,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-3d .swiper-slide-shadow-bottom{background-image:linear-gradient(to bottom,rgba(0,0,0,.5),rgba(0,0,0,0))}.swiper-container-css-mode>.swiper-wrapper{overflow:auto;scrollbar-width:none;-ms-overflow-style:none}.swiper-container-css-mode>.swiper-wrapper::-webkit-scrollbar{display:none}.swiper-container-css-mode>.swiper-wrapper>.swiper-slide{scroll-snap-align:start start}.swiper-container-horizontal.swiper-container-css-mode>.swiper-wrapper{scroll-snap-type:x mandatory}.swiper-container-vertical.swiper-container-css-mode>.swiper-wrapper{scroll-snap-type:y mandatory}:root{--swiper-navigation-size:44px}.swiper-button-next,.swiper-button-prev{position:absolute;top:50%;width:calc(var(--swiper-navigation-size)/ 44 * 27);height:var(--swiper-navigation-size);margin-top:calc(0px - (var(--swiper-navigation-size)/ 2));z-index:10;cursor:pointer;display:flex;align-items:center;justify-content:center;color:var(--swiper-navigation-color,var(--swiper-theme-color))}.swiper-button-next.swiper-button-disabled,.swiper-button-prev.swiper-button-disabled{opacity:.35;cursor:auto;pointer-events:none}.swiper-button-next:after,.swiper-button-prev:after{font-family:swiper-icons;font-size:var(--swiper-navigation-size);text-transform:none!important;letter-spacing:0;text-transform:none;font-variant:initial;line-height:1}.swiper-button-prev,.swiper-container-rtl .swiper-button-next{left:10px;right:auto}.swiper-button-prev:after,.swiper-container-rtl .swiper-button-next:after{content:'prev'}.swiper-button-next,.swiper-container-rtl .swiper-button-prev{right:10px;left:auto}.swiper-button-next:after,.swiper-container-rtl .swiper-button-prev:after{content:'next'}.swiper-button-next.swiper-button-white,.swiper-button-prev.swiper-button-white{--swiper-navigation-color:#ffffff}.swiper-button-next.swiper-button-black,.swiper-button-prev.swiper-button-black{--swiper-navigation-color:#000000}.swiper-button-lock{display:none}.swiper-pagination{position:absolute;text-align:center;transition:.3s opacity;transform:translate3d(0,0,0);z-index:10}.swiper-pagination.swiper-pagination-hidden{opacity:0}.swiper-container-horizontal>.swiper-pagination-bullets,.swiper-pagination-custom,.swiper-pagination-fraction{bottom:10px;left:0;width:100%}.swiper-pagination-bullets-dynamic{overflow:hidden;font-size:0}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transform:scale(.33);position:relative}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active{transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-main{transform:scale(1)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev{transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-prev-prev{transform:scale(.33)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next{transform:scale(.66)}.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next{transform:scale(.33)}.swiper-pagination-bullet{width:8px;height:8px;display:inline-block;border-radius:50%;background:#000;opacity:.2}button.swiper-pagination-bullet{border:none;margin:0;padding:0;box-shadow:none;-webkit-appearance:none;appearance:none}.swiper-pagination-clickable .swiper-pagination-bullet{cursor:pointer}.swiper-pagination-bullet-active{opacity:1;background:var(--swiper-pagination-color,var(--swiper-theme-color))}.swiper-container-vertical>.swiper-pagination-bullets{right:10px;top:50%;transform:translate3d(0px,-50%,0)}.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{margin:6px 0;display:block}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{top:50%;transform:translateY(-50%);width:8px}.swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{display:inline-block;transition:.2s transform,.2s top}.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 4px}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic{left:50%;transform:translateX(-50%);white-space:nowrap}.swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:.2s transform,.2s left}.swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{transition:.2s transform,.2s right}.swiper-pagination-progressbar{background:rgba(0,0,0,.25);position:absolute}.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{background:var(--swiper-pagination-color,var(--swiper-theme-color));position:absolute;left:0;top:0;width:100%;height:100%;transform:scale(0);transform-origin:left top}.swiper-container-rtl .swiper-pagination-progressbar .swiper-pagination-progressbar-fill{transform-origin:right top}.swiper-container-horizontal>.swiper-pagination-progressbar,.swiper-container-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{width:100%;height:4px;left:0;top:0}.swiper-container-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,.swiper-container-vertical>.swiper-pagination-progressbar{width:4px;height:100%;left:0;top:0}.swiper-pagination-white{--swiper-pagination-color:#ffffff}.swiper-pagination-black{--swiper-pagination-color:#000000}.swiper-pagination-lock{display:none}.swiper-scrollbar{border-radius:10px;position:relative;-ms-touch-action:none;background:rgba(0,0,0,.1)}.swiper-container-horizontal>.swiper-scrollbar{position:absolute;left:1%;bottom:3px;z-index:50;height:5px;width:98%}.swiper-container-vertical>.swiper-scrollbar{position:absolute;right:3px;top:1%;z-index:50;width:5px;height:98%}.swiper-scrollbar-drag{height:100%;width:100%;position:relative;background:rgba(0,0,0,.5);border-radius:10px;left:0;top:0}.swiper-scrollbar-cursor-drag{cursor:move}.swiper-scrollbar-lock{display:none}.swiper-zoom-container{width:100%;height:100%;display:flex;justify-content:center;align-items:center;text-align:center}.swiper-zoom-container>canvas,.swiper-zoom-container>img,.swiper-zoom-container>svg{max-width:100%;max-height:100%;object-fit:contain}.swiper-slide-zoomed{cursor:move}.swiper-lazy-preloader{width:42px;height:42px;position:absolute;left:50%;top:50%;margin-left:-21px;margin-top:-21px;z-index:10;transform-origin:50%;animation:swiper-preloader-spin 1s infinite linear;box-sizing:border-box;border:4px solid var(--swiper-preloader-color,var(--swiper-theme-color));border-radius:50%;border-top-color:transparent}.swiper-lazy-preloader-white{--swiper-preloader-color:#fff}.swiper-lazy-preloader-black{--swiper-preloader-color:#000}@keyframes swiper-preloader-spin{100%{transform:rotate(360deg)}}.swiper-container .swiper-notification{position:absolute;left:0;top:0;pointer-events:none;opacity:0;z-index:-1000}.swiper-container-fade.swiper-container-free-mode .swiper-slide{transition-timing-function:ease-out}.swiper-container-fade .swiper-slide{pointer-events:none;transition-property:opacity}.swiper-container-fade .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-fade .swiper-slide-active,.swiper-container-fade .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube{overflow:visible}.swiper-container-cube .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1;visibility:hidden;transform-origin:0 0;width:100%;height:100%}.swiper-container-cube .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-cube.swiper-container-rtl .swiper-slide{transform-origin:100% 0}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-cube .swiper-slide-active,.swiper-container-cube .swiper-slide-next,.swiper-container-cube .swiper-slide-next+.swiper-slide,.swiper-container-cube .swiper-slide-prev{pointer-events:auto;visibility:visible}.swiper-container-cube .swiper-slide-shadow-bottom,.swiper-container-cube .swiper-slide-shadow-left,.swiper-container-cube .swiper-slide-shadow-right,.swiper-container-cube .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}.swiper-container-cube .swiper-cube-shadow{position:absolute;left:0;bottom:0px;width:100%;height:100%;opacity:.6;z-index:0}.swiper-container-cube .swiper-cube-shadow:before{content:'';background:#000;position:absolute;left:0;top:0;bottom:0;right:0;filter:blur(50px)}.swiper-container-flip{overflow:visible}.swiper-container-flip .swiper-slide{pointer-events:none;-webkit-backface-visibility:hidden;backface-visibility:hidden;z-index:1}.swiper-container-flip .swiper-slide .swiper-slide{pointer-events:none}.swiper-container-flip .swiper-slide-active,.swiper-container-flip .swiper-slide-active .swiper-slide-active{pointer-events:auto}.swiper-container-flip .swiper-slide-shadow-bottom,.swiper-container-flip .swiper-slide-shadow-left,.swiper-container-flip .swiper-slide-shadow-right,.swiper-container-flip .swiper-slide-shadow-top{z-index:0;-webkit-backface-visibility:hidden;backface-visibility:hidden}
