//- Variables
block vars
	- var classPage = ""
	- var titlePage = ""
	- var descPage = ""

doctype
html(lang="ru")
	include ../includes/mixins

	//- Head
	include ../includes/components/head

	body(class=classPage)

		//- Header
		include ../includes/components/header

		//- Aside left
		include ../includes/components/leftAside

		//- Content
		main
			block content

		//- Footer
		include ../includes/components/footer

		script(async src="assets/js/main.js")
